<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</head>
<body>


<form action="#" th:action="@{/addLogin}" th:object="${LoginToInsert}" method="post">
    <p>Registration </p>
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Surname: <input type="text" th:field="*{surname}"/></p>
    <p>Email: <input type="text" th:field="*{email}"/></p>
    <p>Password: <input type="text" th:field="*{password}"/></p>

    <p>Sign up: </p>
    <p>Email: <input type="text" th:field="*{email}"/></p>
    <p>Password: <input type="text" th:field="*{password}"/></p>




</form>

</body>
</html>